<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		<%= link_to "About Us", "/about", class: "btn-link" %>
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2015 <a href="" class="btn-link"><b>Pick a Project</b></a>.</strong> All rights reserved.
</footer>
